{{ "<!-- slideshow -->" | safeHTML }}
<header>
    <div class="slideshow">
        <div class="slideshow-image" style="background-image: url('../img/header-bg.jpg')"><h1>ATMECO Fliud Motion</h1></div>
        <div class="slideshow-image" style="background-image: url('../img/revslidebg2.jpg')"><h1>ATMECO Fliud Motion</h1></div>
        <div class="slideshow-image" style="background-image: url('../img/header-bg.jpg')"><h1>ATMECO Fliud Motion</h1></div>
        <div class="slideshow-image" style="background-image: url('../img/revslidebg2.jpg')"><h1>ATMECO Fliud Motion</h1></div>
    </div>
</header>